body {
    margin: 0 auto;
}

#wrapper-jeux {
    display: flex;
    flex-direction: row;

}

#wrapper-jeux div {

    height : 410px;
    width: 140px;
    border : solid 1px  black;
    margin-right : 3px;
}

#wrapper-rainbow {
    margin-top : 30px;
    display: flex;
    flex-direction: row;
}

#wrapper-rainbow div:hover {
    border : solid 3px  red;
}

#wrapper-jeux div:hover {
    border : solid 3px  red;
}


#wrapper-rainbow div {
    padding : 0;
    height : 410px;
    width: 140px;
    border : solid 1px  black;
    margin-right : 3px;
    margin-bottom: 15px;

}

.win {
    color : green;
    font-size: 30px;
    font-style: italic;
    width: 967px !important;
    height: 50px !important;
    border-width: 0 !important;
}

.loose {
    color : red;
    font-size: 30px;
    font-style: italic;
    width: 967px !important;
    height: 50px !important;;
    border-width: 0 !important;
}

.loose:hover  {
    border-width: 0 !important;
}

.win:hover  {
    border-width: 0 !important;
}